<footer>
    <nav>
        <ul>
            <li><a href="/">Nieuw</a></li>
            <li><a href="">Matching</a></li>
            <li><a href="/result">Nummers</a></li>
        </ul>
    </nav>
</footer>