body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

nav ul {
    display: flex;
    width: 100vw;
    padding: 15px 0;
    position: fixed;
    right: 0;
    bottom: -2vh;
    left: 0;
    background-color: #5F7C8A;
}

nav li {
    list-style-type: none;
    padding: 8px 0;
    font-size: 0.65em;
}

nav li a {
    padding: 0 25px;
    color: black;
    font-size: 1.2em;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    justify-content: space-between;
}

section:nth-of-type(1) {
    width: 80vw;
    letter-spacing: 0.097em;
}
section:nth-of-type(1) h1 {
    font-size: 1.3em;
    text-transform: uppercase;
    margin-bottom: 2vh;
    margin-top: 13vh;
    text-align: left;
    color: black;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    margin: 2% 0 5% 0;
}

input[type=submit] {
    position: absolute;
    background-color: black;
    color: white;
    padding: 10px 45px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    bottom: 12vh;
    left: 50%;
    transform: translate(-50%, -50%);
}