body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    width: 100vw;
    padding: 5px 0;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    background-color: #092635;
    z-index: 1;
}

header h1{
    padding: 0 20px;
    color: white;
    font-size: 1.1em;
    font-weight: 900;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    text-align: left;
}

nav ul {
    display: flex;
    width: 100vw;
    padding: 10px 0;
    position: fixed;
    right: 0;
    bottom: -2.4vh;
    left: 0;
    background-color: #092635;
}

nav li {
    list-style-type: none;
    padding: 8px 0;
    font-size: 0.65em;
}

nav li a {
    padding: 0 28px;
    color: white;
    font-size: clamp(0.7em, 3vw, 1.1em);
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    justify-content: space-between;
}

section:nth-of-type(1) {
    letter-spacing: 0.097em;
    padding: 0 4.2vw 0 4.2vw;
}

#index section:nth-of-type(1) h1 {
    font-size: 1.4em;
    text-transform: uppercase;
    margin-bottom: 2vh;
    margin-top: 15vh;
    text-align: left;
    color: black;
}

#index input[type=text],
select,
textarea {
    width: 80vw;
    padding: 12px;
    border: 1px solid black;
    margin: 2% 0 5% 0;
    border-radius: 10px;
}

#index input[type=submit] {
    position: absolute;
    background-color: #3D70B6;
    color: white;
    padding: 10px 45px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1em;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#result section:nth-of-type(1) h1 {
    font-size: 1.4em;
    text-transform: uppercase;
    margin-bottom: 0vh;
    margin-top: 15vh;
    text-align: center;
    color: black;
}

#result section:nth-of-type(1) h2:first-of-type {
    margin-top: 7vh;
}

#result section:nth-of-type(1) h2 {
    font-size: 1em;
}

#result section:nth-of-type(1) p { 
    font-size: 0.90em;
    opacity: 0.70;
    margin: -1.5vh 0 3.5vh 0;
    padding-bottom: 1vh;
}

#result section:nth-of-type(1) p:nth-of-type(even) { 
    position: absolute;
    right: 37vw;
    margin-top: -8.2vh;
    opacity: 1;
}

#result section:nth-of-type(1) .Delete { 
    position: absolute;
    right: 5vw;
    margin-top: -9.7vh;
    text-decoration: none;
    font-size: 1.7em;
}

#result section:nth-of-type(1) a:last-of-type { 
    padding-bottom: 10vh;
}
