<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body
    ><%- include('../partials/header') %>
        <main>
            <section>
                <h1>Favoriete nummers</h1>
                <form method="POST" action="/index">
                    <input type="text" id="title" name="title" required />
                    <input type="text" id="artist" name="artist" required />
                    <input type="submit" value="Opslaan" />
                </form>
            </section>
                <%- include('../partials/footer') %>
        </main>
    </body>
</html>
