<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <main id="matching">
                <section>
                    <img src="/images/profile.jpg" alt="Profile image">
                    <h1>Brenda (23)</h1>
                    <h2>Likes Rock, Indie, House</h2>
                    <h2>Interested in men</h2>
                    <h2>Lives in Amsterdam</h2>
                    <button>❤️</button>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>