<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
        <title>Document</title>
    </head>
    <body>
        <header><%- include('../partials/header') %></header>
        <main id = "result">
            <section>
                <h1>Jouw favorieten</h1>
                <% for(let i=0; i < Nummers.length; i++) { %>
                  <h2><%= Nummers[i].title %></h2>
                  <p><%= Nummers[i].artist %></p>
                  <a class="Delete">Delete</a>
                  <a class="Edit">Edit</a>
             <% } %></section>
            <footer>
                <%- include('../partials/footer') %>
            </footer>
        </main>
    </body>
</html>
